.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.profile-and-button-container {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.header-logo {
  width: 100px;
  cursor: pointer;
}
.profile-image {
  width: 30px;
  padding-top: 5px;
  cursor: pointer;
}
.header-main-container {
  padding-left: 40px;
  padding-right: 50px;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: white;
}
.logout-button {
  padding: 4px;
  cursor: pointer;
}
.logout-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(240, 248, 255, 0.505);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logout-popup {
  width: 250px;
  position: fixed;

  background-color: #0b69ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: aliceblue;
  border-radius: 5px;
}
